<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="2">

    <tr>
        <th>id</th>
        <th>firstname</th>
        <th>lastname</th>
        <th>email</th>
        <th>Delete</th>
        <th>EDIT</th>

    </tr>

    {% for i in c %}
    <tr>
        <td>{{i.id}}</td>
        <td>{{i.first_name}}</td>
        <td>{{i.last_name}}</td>
        <td>{{i.email}}</td>
        <td><a href="http://127.0.0.1:8000/django_app/delete/{{i.id}}" class="btn btn-danger">Delete</a></td>
        <td><a href="http://127.0.0.1:8000/django_app/edit/{{i.id}}" class="btn btn-danger">EDIT</a></td>
    </tr>
    {% endfor %}
</table>
</body>
</html>