<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/b5e42f3072.js" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fa-brands fa-python"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/django_app/registration/">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/django_app/loginpage/">Login</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<a></a>
<div class="container bg-dark mt-5 p-5">
    <a href="http://127.0.0.1:8000/django_app/fileupload/"><button type="button" class="btn btn-outline-primary">  upload image</button></a>
    <a href="http://127.0.0.1:8000/django_app/videoupload/"><button type="button" class="btn btn-outline-secondary">upload video</button></a>
    <a href="http://127.0.0.1:8000/django_app/cardupload/"><button type="button" class="btn btn-outline-success">upload card</button></a>

</div>

</div>

</body>
</html>