<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <table>
        <tr>
            <th><label>First Name</label></th>
            <td><input type="text" placeholder="username">(max 50 characters)</td>
        </tr>
        <tr>
            <th><label>last Name</label></th>
            <td><input type="text"placeholder="last name">(max 50 characters)</td>
        </tr>
        <tr>
            <th><label>email</label></th>
            <td><input type="email"placeholder="example@gmail.com">(max 50 characters)</td>
        </tr>
                <tr>
            <th><label>password</label></th>
            <td><input type="password"placeholder="enter your password">(max 50 characters)</td>
        </tr>
    </table>
</form>
</body>
</html>


